@import url('./todo.css');

:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #eee;
    --pink: #ec4899;
    --purple: #8b5cf6;
  }
  * {
    box-sizing: border-box;
    margin: 0%;
    font-family: "Courier New", Courier, monospace;
  }

  body {
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #eee;
  }